
/* RESET */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */

:root{
  --bg: rgb(180,208,231); 
}


/* GENERICS */

body{
  font-family: 'Open Sans', sans-serif;
}


header{
  height: 80px;
}


a{
  text-decoration: none;
}


header ul{
  list-style-type: none;
  display: flex;
  gap: 35px;
}


header a{
  color: black;
}





/* UTILITY */

.btn-dark{
  background-color: rgb(0,97,255);
  color: white;
  padding: 8px 15px;
}


.bd{
  border: 1px dashed black;
}

.bdw{
  border: 1px dashed white;
}

.row{
  height: 400px;
  padding-top: 30px;
}

.container-large{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.container-small{
  max-width: 1080px;
  margin: 0 auto;
}

.bg{
  background-color: var(--bg);
}




/* HEADER */

.nav-bar{
  height: 100%;
  display: flex;
}


.nav-bar .logo, .sign-control{
  flex-basis: 10%;
}


.nav-bar .menu, .support{
  flex-basis: 40%;
}


.logo img{
  height: 25px;
}


.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-bar .menu{
  display: flex;
  align-items: center;
}


.nav-bar .support{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.nav-bar .sign-control{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}







/* MAIN */

/* Presentation */

.jumbotron{
  height: 100%;
}

.jumbotron .title{
  height: 30%;
}

.presentation{
  height: 70%;
  display: flex;
}

.intro{
  height: 100%;
  width: 50%;
}


.intro-img{
  height: 130%;
  width: 50%;
}



/* BUSINESS PLAN */

.business-plan{
  height: 800px;
  margin-top: 100px;
}


.business-plan .title{
  height: 10%;
}

.bill-period{
  height: 5%;
  width: 40%;
}

.def-plan{
  height: 60%;
  display: flex;
}

.def-plan >*{
  width: calc(100% / 3);
  height: 100%;
}

.business-plan .personal{
  height: 25%;
}


/* PARTNER */

.partner{
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.pic, .content{
  width: 50%;
  height: 100%;
}


.info{
  height: 70%;
}

.partner-button{
  height: 30%;
}

/* FEATURE  */

.feature{
  height: 800px;
  margin-top: 20px;
}

.feature .title{
  height: 10%;
}

.feature .row{
  height: 90%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.feature .column{
  height: 50%;
  width: calc(100% / 3);
}

.card{
  width: 100%;
  height: 100%;
}

.card-img{
  height: 50%;
}


/* BUSINESS PARTNER */


.title {
  height: 50px;
}

.business-partner{
  height: 400px;
  display: flex;

}

.business-partner > div{
  flex-basis: calc(100% / 3);
}


.tryout{
  height: 200px;
  display: flex;
}


.tryout > *{
  flex-basis: 50%;
}


/* FAQ */

.faq{
  height: 300px;
  margin-top: 20px;
}

.faq .title{
  height: 20%;
}


.separator{
  border: 0.1px solid rgb(159,159,159);
}

.question{
  height: 25%;
}


/* FOOTER */

footer{
  height: 300px;
  background-color: black;
}


.footer-navbar{
  height: 90%;
  display: flex;
}


.footer-navbar ul{
  flex-basis: calc(100% / 5);
}