
/* RESET */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



/* CUSTOM PROPERTIES */

:root{
  --bg: rgb(180,208,231); 
}


/* GENERICS */

body{
  font-family: 'Open Sans', sans-serif;
}


header{
  height: 80px;
}


a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type: none;
}

li{
  margin-bottom: 30px;
}

header ul{
  list-style-type: none;
  display: flex;
  gap: 35px;
}


header a{
  color: black;
}

h1{
  font-size: 74px;
  font-weight: 900;
}

h2{
  padding: 40px 0;
  font-size: 45px;
}

h3{
  font-weight: 700;
  font-size: 25px;
}


.def-plan h3{
  margin-top: 40px;
  margin-bottom: 10px;
}

h4{
  margin-bottom: 30px;
}

.fa-solid{
  padding-right: 2px;
}

.fa-check{
  color: #0061ff;
}

.price{
  font-weight: 600;
}





/* UTILITY */

.container-large{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.container-small{
  max-width: 1080px;
  margin: 0 auto;
}

.bg{
  background-color: var(--bg);
}

.btn-login{
  background-color: rgb(0,97,255);
  color: white;
  padding: 8px 15px;
}

.btn-dark{
  background-color: rgb(0,97,255);
  color: white;
  padding: 15px 25px;
}

.btn-light{
  display: inline-block;
  color: black;
  border: 1px solid black;
  padding: 10px;
}


.bds{
  border: 1px solid rgb(208,208,211);
}

.normal-link{
  text-decoration: underline;
  color: rgb(33,0,238);
}

.card-separator{
  width: 50px;
  border-bottom: 1px solid rgb(208,208,211);
  margin: 50px 0;
}


/* REMOVE */
.bd{
  border: 1px dashed black;
}

.bdw{
  border: 1px dashed white;
}





/* HEADER */

.nav-bar{
  height: 100%;
  display: flex;
}


.nav-bar .logo, .sign-control{
  flex-basis: 10%;
}


.nav-bar .menu, .support{
  flex-basis: 40%;
}


.logo img{
  height: 25px;
}


.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-bar .menu{
  display: flex;
  align-items: center;
}


.nav-bar .support{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.nav-bar .sign-control{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}


/* MAIN */




/* Jumbotron*/

.jumbo-row{
  padding-top: 70px;
  padding-bottom: 20px;
}

.jumbotron{
  height: 100%;
}


.presentation{
  height: 70%;
  display: flex;
}

.jumbo-intro{
  width: 34%;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}


.jumbo-intro, .jumbo-pic{
  margin-top: 40px;
}

.jumbo-pic{
  width: 83%;
  position: relative;
  margin-left: 20px;
}

.jumbo-pic img{
  width: 870px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fa-arrow-down{
  font-size: 50px;
  margin-top: 40px;
}




/* Business plan */

.business-plan{
  margin-top: 100px;
}


.def-plan{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.bill-period{
  padding: 40px 0;
}


.bill-period .yearly, .monthly{
  display: inline-block;
  padding-right: 30px;
}

.checkbox{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  background: white;
  border: 5px solid rgb(0,97,255);
  border-radius: 50%
}

.def-plan > *{
  flex-basis: 30%;
}


.def-plan .price{
  line-height: 50px;
}

.def-plan .price-type{
  margin-bottom: 60px;
}

.business-plan .type{
  padding: 15px;
  border-bottom: 1px solid rgb(208,208,211);
  text-align: center;
}

.def-plan .free-trial{
  margin-top: 70px;
  margin-bottom: 40px;
}

.business-plan .personal{
  margin-top: 25px;
}

.business-plan .card{
  padding: 25px;
}

.business-plan .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content > *{
  flex-basis: 30%;
}

.content .buy{
  text-align: right;
}

.personal .description{
  margin: 15px 0;
}

.personal .price{
  margin-bottom: 50px;
}

.personal .property{
  width: 55%;
}



/* Partner */

.partner{
  display: flex;
  margin-top: 130px;
}

.partner .content{
  flex-basis: 30%;
  padding: 60px 0;
  padding-left: 50px;
}

.partner-pic img{
  height: 550px;
}

.info > *{
  padding: 20px 0;
}





/* FEATURE  */

.feature{
  height: 800px;
  margin-top: 200px;
}

.feature .title{
  height: 10%;
}

.feature .row{
  height: 90%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.feature .column{
  height: 50%;
  width: calc(100% / 3);
}

.card{
  width: 100%;
  height: 100%;
}

.card-img{
  height: 50%;
}


/* BUSINESS PARTNER */


.title-business {
  height: 50px;
}

.business-partner{
  height: 400px;
  display: flex;

}

.business-partner > div{
  flex-basis: calc(100% / 3);
}


.tryout{
  height: 200px;
  display: flex;
}


.tryout > *{
  flex-basis: 50%;
}


/* FAQ */

.faq{
  height: 300px;
  margin-top: 20px;
}

.faq .title{
  height: 20%;
}


.separator{
  border: 0.1px solid rgb(159,159,159);
}

.question{
  height: 25%;
}


/* FOOTER */

footer{
  height: 300px;
  background-color: black;
}


.footer-navbar{
  height: 90%;
  display: flex;
}


.footer-navbar ul{
  flex-basis: calc(100% / 5);
}