
/* RESET */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



/* CUSTOM PROPERTIES */

:root{
  --bg: rgb(180,208,231); 
  --bg-designit: rgb(162,211,155);
  --bg-asu: rgb(97,8,43);
  --bg-uf: rgb(0,147,206);
  --bg-topps: rgb(255,28,28);
  --bg-wbr: rgb(213,0,31);
  --bg-hearts: rgb(180,208,231);
  --bg-lonely-planet: rgb(13,36,129);
  --bg-ccoutdoor: rgb(255,216,48);


}


/* GENERICS */

body{
  font-family: 'Open Sans', sans-serif;
}


header{
  height: 80px;
}


a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type: none;
}

li{
  padding-bottom: 30px;
}

header ul{
  list-style-type: none;
  display: flex;
  gap: 35px;
}


header a{
  color: black;
}

h1{
  font-size: 78px;
  font-weight: 900;
}

h2{
  padding: 40px 0;
  font-size: 45px;
}

h3{
  font-weight: 700;
  font-size: 25px;
}




.def-plan h3{
  margin-top: 40px;
  margin-bottom: 10px;
}



p{
  padding: 30px 0;
}

.fa-solid{
  padding-right: 2px;
}

.fa-check{
  color: #0061ff;
}

.price{
  font-weight: 600;
}





/* UTILITY */

.container-large{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.container-small{
  max-width: 1080px;
  margin: 0 auto;
}

.flex-space-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg{
  background-color: var(--bg);
}

.btn-login{
  background-color: rgb(0,97,255);
  color: white;
  padding: 8px 15px;
}

.btn-dark{
  background-color: rgb(0,97,255);
  color: white;
  padding: 15px 25px;
}

.btn-light{
  display: inline-block;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px;
}


.bds{
  border: 1px solid rgb(208,208,211);
}

.normal-link{
  text-decoration: underline;
  color: rgb(33,0,238);
}

.grey-separator{
  width: 25%;
  border-bottom: 1px solid rgb(208,208,211);
  margin: 50px 0;
}

.black-separator{
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.white-separator{
  width: 10%;
  border-bottom: 1px solid white;
  margin: 50px 0;
}

.bg-designit{
  background-color: var(--bg-designit);
}

.bg-asu{
  background-color: var(--bg-asu);
}

.bg-uf{
  background-color: var(--bg-uf);
}

.bg-topps{
  background-color: var(--bg-topps);
}

.bg-wbr{
  background-color: var(--bg-wbr);
}

.bg-hearst{
  background-color: var(--bg-hearts);
}

.bg-lonely-planet{
  background-color: var(--bg-lonely-planet);
}

.bg-ccoutdoor{
  background-color: var(--bg-ccoutdoor);
}

.svg-white{
filter: invert(100%);
}





/* REMOVE */
.bd{
  border: 1px dashed black;
}

.bdw{
  border: 1px dashed white;
}





/* HEADER */

.nav-bar{
  height: 100%;
  display: flex;
}


.nav-bar .logo, .sign-control{
  flex-basis: 10%;
}


.nav-bar .menu, .support{
  flex-basis: 40%;
}


.logo img{
  height: 25px;
}


.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-bar .menu{
  display: flex;
  align-items: center;
}


.nav-bar .support{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.nav-bar .sign-control{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}


/* MAIN */




/* Jumbotron*/

.jumbo-row{
  padding-top: 70px;
  padding-bottom: 20px;
}

.jumbotron{
  height: 100%;
}


.presentation{
  height: 70%;
  display: flex;
}

.jumbo-intro{
  width: 34%;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}


.jumbo-intro, .jumbo-pic{
  margin-top: 40px;
}

.jumbo-pic{
  width: 83%;
  position: relative;
  margin-left: 20px;
}

.jumbo-pic img{
  width: 870px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fa-arrow-down{
  font-size: 50px;
  margin-top: 40px;
}




/* Business plan */

.business-plan{
  margin-top: 100px;
}


.def-plan{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.bill-period{
  padding: 40px 0;
}


.bill-period .yearly, .monthly{
  display: inline-block;
  padding-right: 30px;
}

.checkbox{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  background: white;
  border: 5px solid rgb(0,97,255);
  border-radius: 50%
}

.def-plan > *{
  flex-basis: 30%;
}


.def-plan .price{
  line-height: 50px;
}

.def-plan .price-type{
  margin-bottom: 60px;
}

.business-plan .type{
  padding: 15px;
  border-bottom: 1px solid rgb(208,208,211);
  text-align: center;
}

.def-plan .free-trial{
  margin-top: 70px;
  margin-bottom: 40px;
}

.business-plan .personal{
  margin-top: 25px;
}

.business-plan .card{
  padding: 35px;
}

.business-plan .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content > *{
  flex-basis: 30%;
}

.content .buy{
  text-align: right;
}

.personal .description{
  margin: 15px 0;
}

.personal .price{
  margin-bottom: 50px;
}

.personal .property{
  width: 55%;
}

.highlights h4{
  padding-bottom: 30px;
}



/* Partner */

.partner{
  display: flex;
  margin-top: 130px;
}

.partner .content{
  flex-basis: 30%;
  padding: 60px 0;
  padding-left: 50px;
}

.partner-pic img{
  height: 550px;
}

.info > *{
  padding: 20px 0;
}





/* FEATURE  */

.feature{
  margin-top: 200px;
}

.feature .row{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;
}

.feature .column{
  flex-basis: calc(100% / 3 - 30px);
}


.card img{
  max-width: 100%;
}


/* BUSINESS PARTNER */

.sponsor{
  display: flex;
  margin-top: 150px;
}


.square-lg{
  flex-basis: calc(100vw / 3);
  height: calc(100vw / 3);
  display: flex;
  flex-wrap: wrap;
}

.square-sm{
  flex-basis: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-sm img{
  max-width: 50%;
}

.square-central{
  background-color: rgb(245,245,245);
  padding: 30px;
}


.square-central img{
  max-width: 40%;
}

.try-out{
  padding: 150px;
}

.try-out a{
  border: 1px solid transparent;
}

.try-out h4{
  color: rgb(97,8,43);
  font-size: 40px;
  flex-basis: 60%;
}

.try-out a{
  padding: 10px 45px
}

/* FAQ */

.faq{
  padding: 150px 0;
}

.faq h3{
  padding-bottom: 40px;
  font-size: 38px;
}

.faq li{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-down{
  flex-basis: 10%;
  text-align: center;
}

/* FOOTER */

footer{
  background-color: black;
}

.container-footer{
  max-width: 1400px;
  margin: 0 auto;
}


.footer-navbar{
  display: flex;
  padding: 80px 0;
}

.footer-navbar .nav-column{
  flex-basis: calc(100% / 5);
  color: white;
}


.footer-navbar a, h3{
  color: white;
}

.footer-navbar h3{
  padding-bottom: 30px;
}


.footer-navbar li{
  padding: 5px;
}


.lang{
  display: flex;
  gap: 5px;
  align-items: central;
  padding-bottom: 30px;
}


.lang > *{
  color: rgb(153,153,153);
}

.lang h6{
  font-size: 16px;
  font-weight: normal;
}

.lang .fa-caret-up, .fa-earth-americas{
  align-self: center;
}

